<div class="top-row pl-4 flex flex-wrap list-reset pl-0 mb-0bar navbar-dark">
    <img class="ml-2 w-20 h-auto" src="images/logoW.png" />
    <button class="flex flex-wrap list-reset pl-0 mb-0bar-toggler" onclick=@ToggleNavMenu>
        <span class="flex flex-wrap list-reset pl-0 mb-0bar-toggler-icon"></span>
    </button>
</div>

<div class=@(collapseNavMenu ? "collapse" : null) onclick=@ToggleNavMenu>
    <ul class="flex flex-wrap list-reset pl-0 mb-0 flex-column text-white">
        <li class=" px-3">
            <NavLink class="inline-block py-2 px-4 no-underline" href="" Match=NavLinkMatch.All>
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class=" px-3">
            <NavLink class="inline-block py-2 px-4 no-underline" href="decks">
                <span class="oi oi-layers" aria-hidden="true"></span> Deck Builder
            </NavLink>
        </li>
    </ul>
</div>

@functions {
    bool collapseNavMenu = true;

    void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
