@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import url('https://fonts.googleapis.com/css?family=Raleway|Open+Sans&display=swap');

html, body {
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

app {
    @apply flex;
}

h1 {
    @apply text-2xl;
    font-family: 'Raleway', Helvetica, Arial, sans-serif;
  }


/* need to fix from here down!! */

.card-image {
    border-radius: 6%/4%;
    width: 7rem;
    height: 9.8rem;
    background-size: cover;
}

.hand .draggable {
    display: inline-block;
}

.deck {
    padding-bottom: 15.5em;
}

.deck .card-image {
    margin-bottom: -11.5em;
    transition: margin 500ms;
}

.deck .card-image:not(:last-child):hover {
    margin-bottom: 1em !important;
}

.searchresult-row {
    display: block;
    cursor: pointer;
}


.dd-no-pointer-events {
    pointer-events: none;
}

.draggable-intransit {
    opacity: 0.2;
}

.dropzone {
    min-height: 100%;
    min-width: 100%;
}